<router-outlet></router-outlet>
<div class="main-container">
  <h1 class="main-title">Select voucher</h1>
  <div class="btn-container">
    <ng-container *ngFor="let voucher of vouchersRaw">
      <button (click)="printVoucherByType(voucher)" class="voucher-btn">{{voucher.name}}</button>
    </ng-container>
  </div>

  <div class="vouchers-card-container">
    <ng-container *ngIf="voucherList">
      <ng-container *ngFor="let voucher of voucherList">
        <app-voucher-card [voucher]="voucher"></app-voucher-card>
      </ng-container>
    </ng-container>
  </div>
</div>
